<!DOCTYPE html>
<html>

<head>
    <title>Manual Coffee Grinder - Corporate Information</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        p {
            color: antiquewhite;
        }
    </style>
</head>

<body>
    <!-- Header and navigation  -->
    <header>

        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">Manual Coffee Grinder</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html"><i class="fas fa-tachometer-alt"></i>Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="about.html"><i class="far fa-address-book"></i>About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../Views/support.html"><i class="far fa-calendar-alt"></i>Support</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../Views/company.html"><i class="far fa-chart-bar"></i>Company</a>
                    </li>

                </ul>
            </div>
        </nav>

    </header>
    <!-- Content for Corporate Information page -->
    <h1>About Our Company</h1>

    <p>We are passionate about delivering the best coffee experience to our customers. Learn more about the company behind the manual coffee grinder:</p>

    <div id="companyInfo">
        <h2>Company Name</h2>
        <p>GrindMaster Co.</p>
        <h2>Location</h2>
        <p>123 Coffee Avenue, Cityville</p>
        <h2>Contact</h2>
        <p>Email: info@grindmasterco.com</p>
        <p>Phone: 1-800-987-6543</p>
        <h2>History</h2>
        <p>Founded in 1985, GrindMaster Co. has been dedicated to providing coffee enthusiasts with...</p>
    </div>

    <!-- Footer -->
    <script src="../js/app.js"></script>
</body>

</html>